@import url("https://fonts.googleapis.com/css?family=Wendy+One");

@import "animations";

body {
	background-image: -webkit-gradient(
		radial,
		50% 50%,
		0,
		50% 50%,
		100,
		color-stop(0%, #374566),
		color-stop(100%, #010203)
	);
	background-image: -webkit-radial-gradient(#374566, #010203);
	background-image: -moz-radial-gradient(#374566, #010203);
	background-image: -o-radial-gradient(#374566, #010203);
	background-image: radial-gradient(#374566, #010203);

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.page {
	position: relative;
	user-select: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}
